<h2>fill your experiences details</h2>
<div class ="center">
  <div class="form-group">
    <label for="exampleInputEmail1">designation::</label>
    <%= @experience.designation %>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Company::</label>
    <%= @experience.company%>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Description::</label>
    <%= @experience.description %>
  </div>
      <div class="form-group">
    <label for="exampleInputPassword1">start date::</label>
    <%= @experience.start_date%>
  </div>
        <div class="form-group">
    <label for="exampleInputPassword1">End date::</label>
    <%= @experience.end_date%>
  </div>
</div>

<div class = "center">
<%=link_to 'Edit experience',  edit_experience_path(@experience.id) %>
<br><hr>
<%=link_to 'Back', experiences_path %>
</div>