<!DOCTYPE html>
<html>
  <head>
    <title>Resumer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless (params[:action] == "index") && (params[:controller] == "welcome")%>
  	  <div class ="center">
        <%if (current_user) %>
  	      <%=link_to 'ADMIN PANEL' , admin_index_path %>
        <%end%>
    <%end%>
      </div>
    <%= yield %>
  </body>
</html>
